<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% load font_awesome %}
    {% fa_css %}
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'Users' %}">Пользователи</a>
    <a class="navbar-brand" href="{% url 'Orders' %}">Заказы</a>
    <a class="navbar-brand" href="{% url 'Difference' %}">Разница</a>
    <a class="navbar-brand" href="{% url 'New order' %}">Новый заказ</a>
</nav>
<body>
<div class="d-flex justify-content-center">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>