{% extends 'followers/main.html' %}
{% block content %}

<div class="d-flex flex-column align-items-center">
    <div><h4 class="mb-3 ">Новые пользователи за сегодня</h4></div>
    <div>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Подписан до</th>
            </tr>
            </thead>
            <tbody>
            {%for user in today_users%}
            <tr>
                <td><a href="{% url 'UserEdit' pk=user.pk %}">{{ user.name }}</a></td>
                <td>{{ user.subscribe_until|date:'d E Y' }}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}