{% extends 'followers/main.html' %}
{% block content %}
<div class="d-flex flex-column align-items-center col-12">
    <div class="card-deck mt-2 mb-2 h-100">
        <div class="card text-center">
            <div class="card-img-top">
                Заработок в месяц
            </div>
            <div class="card-body">
                <h5 class="card-title text-success">{{earning}}₽</h5>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-img-top">
                Всего пользователей
            </div>
            <div class="card-body">
                <h5 class="card-title">{{number_of_paid_users}}</h5>
            </div>
        </div>
    </div>
    {% if today_users %}
    <div><h4 class="mb-3 ">Новые пользователи за сегодня - {{ today_users_count }}</h4></div>
    <table class="table col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Подписан до</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {%for user in today_users%}
        {% if user.status.name == "Not added" %}
        <tr class="table-danger">
            {% elif user.status.name == "Sent request" %}
        <tr class="table-warning">
            {% else %}
        <tr class="table-success">
            {% endif %}
            <td class="align-middle">
                <a href="{% url 'UserEdit' pk=user.pk %}" class="text-dark"><h3>{{ user.name }}</h3></a>
            </td>
            <td class="align-middle">
                {{ user.subscribe_until|date:'d E Y' }}
            </td>
            <td>
                <div class="d-flex justify-content-end">
                    <form action="{% url 'ChangeUserStatus' %}" method="post">
                        <input type="hidden" value="{{ user.name }}" name="name">
                        <input type="hidden" value="Sent request" name="status">
                        <button type="submit" class="btn btn-lg btn-warning mr-5">
                            Запрос
                        </button>
                    </form>
                    <form action="{% url 'ChangeUserStatus' %}" method="post">
                        <input type="hidden" value="{{ user.name }}" name="name">
                        <input type="hidden" value="Added" name="status">
                        <button type="submit" class="btn btn-lg btn-success">
                            Подписан
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    {% else %}
    <div>
        <h4 class="mb-3 mt-3">Сегодня новых пользователей нет</h4>
        <h4 class="text-center">&#128546;</h4>
    </div>
    {% endif %}
</div>
{% endblock %}