{% extends 'followers/main.html' %}
{% block content %}
<script>
    function deleteFunction(form) {
        if (confirm("Are you sure you want to delete?")) {
            form.submit();
        } else {
            form.preventDefault();
        }
    }
</script>
<div class="d-flex flex-column align-items-center">
    <div><h4 class="mb-3 ">Активные пользователи</h4></div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Подписана до</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {%for user in users_list%}
            <tr>
                <td><a href="{% url 'UserEdit' pk=user.pk %}">{{ user.name }}</a></td>
                <td>{{ user.subscribe_until|date:'d E Y' }}</td>
                <td>
                    <form method="POST" action="{% url 'UserDelete' pk=user.id %}" id="delete_tag">
                        <button type="button" class="btn btn-sm btn-danger" onClick="deleteFunction(this.form)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
