__pycache__/
.DS_Store
.coverage
coverage.xml
.idea/
*.log
/.envrc
/.env
db.sqlite3
/.venv/
/cache/
/sessions/
/nginx/
.gitignore
poetry.lock
pyproject.toml
README.md
/env-blogserver*
/staticfiles/
/docker-compose.yml*
/.github/
!/cache/
/frontend/
/.git
Makefile
.dockerignore
Dockerfile