version: '3.3'

volumes:
  postgres_db:

services:
  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=
    volumes:
      - postgres_db:/var/lib/postgresql/data
    restart: always
    ports:
      - 5432:5432
  web:
    build: .
    restart: always
    environment:
      - SECRET_KEY=
      - SECRET_KEY_MODULBANK=
      - TEST_SIGNATURE=
      - POSTGRES_DB_NAME=
      - POSTGRES_DB_USER=
      - POSTGRES_DB_PASSWORD=
      - POSTGRES_DB_ADDR=postgres
      - POSTGRES_DB_PORT=5432
      - DJANGO_SETTINGS_MODULE=propitanie.settings
    command:
      bash -c "python manage.py migrate && gunicorn --workers 3  propitanie.wsgi --bind :8000"
    depends_on:
      - postgres
    ports:
      - 80:8000