#------DJANGO------
DJANGO_SECRET_KEY=
DJANGO_SETTINGS_MODULE=config.settings
DJANGO_ALLOWED_HOSTS=
ROLLBAR_ACCESS_TOKEN=

#------MODULBANK------
MODULBANK_TEST=
MODULBANK_TEST_SIGNATURE=
MODULBANK_SECRET_KEY=
MODULBANK_TEST_SECRET_KEY=
MODULBANK_MERCHANT_ID=
MODULBANK_PAY_GATEWAY=
MODULBANK_SUCCESS_URL=
MODULBANK_CALLBACK_URL=

#------POSTGRESQL------
POSTGRES_PASSWORD=
POSTGRES_DB_NAME=
POSTGRES_DB_USER=
POSTGRES_DB_PASSWORD=
POSTGRES_DB_ADDR=
POSTGRES_DB_PORT=

#------EMAIL------
EMAIL_BACKEND=
DEFAULT_FROM_EMAIL=
SERVER_EMAIL=
MAILGUN_API_KEY=

#------INSTAGRAM------
INSTAGRAM_LOGIN=
INSTAGRAM_PASSWORD=
INSTAGRAM_USER=
INSTAGRAM_PROXY=