django
gunicorn
python-dotenv
python-dateutil
django-bootstrap4
requests
git+https://github.com/realsirjoe/instagram-scraper.git
django-fa
celery
redis
django-celery-beat
django-anymail
wheel
Pillow
pytils~=0.3
igramscraper
psycopg2-binary
rollbar
djangorestframework