django~=3.1.1
gunicorn
python-dotenv
python-dateutil
django-bootstrap4
requests~=2.24.0
git+https://github.com/realsirjoe/instagram-scraper.git
django-fa
celery~=4.4.7
redis
django-celery-beat
django-anymail
wheel
Pillow
pytils~=0.3
igramscraper
psycopg2-binary
rollbar
djangorestframework
django-cors-headers