django~=3.0.6
gunicorn
python-dotenv~=0.13.0
python-dateutil~=2.8.1
django-bootstrap4
requests==2.21.0
git+https://github.com/Lelikov/instagram-scraper.git
django-fa
celery~=4.4.2
redis
django-celery-beat
django-anymail
wheel
Pillow
pytils~=0.3
igramscraper~=0.3.2
psycopg2