{% extends 'main.html' %}
{% block title %}Добавить видео{% endblock %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function getYTCode(url) {
            const urlParams = new URLSearchParams(url.split('?')[1]);
            const code = urlParams.get('v');
            $("#YTFrame").attr({
                src: `https://www.youtube.com/embed/${code}?iv_load_policy=3&modestbranding=1`,
                hidden: false
            })
            $("#YTCode").attr({value: code})
        }
    </script>
    <div class="container-fluid">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-2">Добавить видео</h4>
                            </div>
                            <form class="user" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user mb-2"
                                           placeholder="Название" name="caption" autofocus required/>
                                    {% if form.caption.errors %}
                                        <dl>
                                            {% for error in form.caption.errors %}
                                                <dd><small
                                                        class="form-text text-danger mb-1">{{ error }}</small>
                                                </dd>
                                            {% endfor %}
                                        </dl>
                                    {% endif %}
                                    <input type="text" class="form-control form-control-user mb-2"
                                           placeholder="Ссылка на видео в YouTube" required
                                           onchange="getYTCode(this.value)"/>
                                    {% if form.video_code.errors %}
                                        <dl>
                                            {% for error in form.video_code.errors %}
                                                <dd><small
                                                        class="form-text text-danger mb-1">{{ error }}</small>
                                                </dd>
                                            {% endfor %}
                                        </dl>
                                    {% endif %}
                                    <input type="hidden" id="YTCode" name="video_code">
                                    <div class="d-flex justify-content-center mb-2">
                                        <iframe id="YTFrame" src="" width="400" height="225" hidden></iframe>
                                    </div>
                                    <input type="text" class="form-control form-control-user mb-2"
                                           placeholder="Дата публикации" name="publish_date"
                                           value="{% now 'd.m.Y' %}" required/>
                                    {% if form.publish_date.errors %}
                                        <dl>
                                            {% for error in form.publish_date.errors %}
                                                <dd><small
                                                        class="form-text text-danger mb-1">{{ error }}</small>
                                                </dd>
                                            {% endfor %}
                                        </dl>
                                    {% endif %}
                                    <textarea class="form-control" placeholder="Описание" name="description"
                                              required></textarea>
                                    <button class="btn btn-primary btn-block text-white btn-user mt-2" type="submit">
                                        Сохранить
                                    </button>
                                </div>
                            </form>
                            <div class="text-center"></div>
                            <div class="text-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}