{% extends 'main.html' %}
{% block title %}Добавить файл{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-6">
                <div class="card shadow-lg o-hidden border-0">
                    <div class="card-header"><p class="text-primary m-0 font-weight-bold">Добавить файл</p></div>
                    <div class="card-body">
                        <div class="form-group">
                            <form method="post" enctype="multipart/form-data">
                                {{ form.non_field_errors }}
                                <label for="id_category" class="mb-0">Категория</label>
                                <select class="custom-select mb-2" name="category">
                                    {% for item in form.category %}
                                    {{ item }}
                                    {% endfor %}
                                </select>
                                {{ form.category.errors }}
                                <input type="text" name="name" class="form-control mb-2" required placeholder="Название">
                                {{ form.name.errors }}
                                <textarea name="description" class="form-control mb-2" placeholder="Описание"></textarea>
                                {{ form.description.errors }}
                                <input type="file" class="mb-2" name="file" required>
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-success" type="submit">Сохранить</button>
                                    <button class="btn btn-danger" type="button"
                                            onclick="location.href='{% url 'FilesList' %}'">Отмена
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}