{% extends 'users/main.html' %}
{% load static %}
{% block title %}Конфиденциальность{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center">Конфиденциальность</h1>
                </div>
                <div class="text">
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">1. Определения</h2>
                    <p>Интернет проект www.propitanie.blog (далее — URL, «мы») серьезно относится к вопросу
                        конфиденциальности информации своих клиентов и посетителей сайта www.propitanie.blog (далее —
                        «вы»,
                        «посетители сайта»). Персонифицированной мы называем информацию, содержащую персональные данные
                        (например: ФИО, логин или название компании) посетителя сайта, а также информацию о действиях,
                        совершаемых вами на сайте URL. (например: заказ посетителя сайта с его контактной информацией).
                        Анонимными мы называем данные, которые невозможно однозначно идентифицировать с конкретным
                        посетителем сайта (например: статистика посещаемости сайта). </p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">2. Использование информации </h2>
                    <p>Мы используем персонифицированную информацию конкретного посетителя сайта исключительно для
                        обеспечения ему качественного оказания услуг и их учета. Мы не раскрываем персонифицированных
                        данных одних посетителей сайта URL другим посетителям сайта. Мы никогда не публикуем
                        персонифицированную информацию в открытом доступе и не передаем ее третьим лицам. Исключением
                        являются лишь ситуации, когда предоставление такой информации уполномоченным государственным
                        органам предписано действующим законодательством Российской Федерации. Мы публикуем и
                        распространяем только отчеты, построенные на основании собранных анонимных данных. При этом
                        отчеты не содержат информацию, по которой было бы возможным идентифицировать персонифицированные
                        данные пользователей услуг. Мы также используем анонимные данные для внутреннего анализа, целью
                        которого является развитие продуктов и услуг URL </p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">3. Ссылки</h2>
                    <p>Сайт www.propitanie.blog может содержать ссылки на другие сайты, не имеющие отношения к нашей
                        компании и принадлежащие третьим лицам. Мы не несем ответственности за точность, полноту и
                        достоверность сведений, размещенных на сайтах третьих лиц, и не берем на себя никаких
                        обязательств по сохранению конфиденциальности информации, оставленной вами на таких сайтах. </p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">4. Ограничение
                        ответственности</h2>
                    <p>Мы делаем все возможное для соблюдения настоящей политики конфиденциальности, однако, мы не можем
                        гарантировать сохранность информации в случае воздействия факторов находящихся вне нашего
                        влияния, результатом действия которых станет раскрытие информации. Сайт www.propitanie.blog и
                        вся
                        размещенная на нем информация представлены по принципу «как есть» без каких-либо гарантий. Мы не
                        несем ответственности за неблагоприятные последствия, а также за любые убытки, причиненные
                        вследствие ограничения доступа к сайту URL или вследствие посещения сайта и использования
                        размещенной на нем информации. </p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">5. Контакты</h2>
                    <p>По вопросам, касающимся настоящей политики, просьба обращаться по адресу info@propitanie.blog

                    <p>ИП Леликова Юлия Эдуардовна<br>
                        +7 916 031 3377<br>
                        ИНН 501806843731<br>
                        ОГРНИП 315501800012144<br>
                        Юридический адрес 141075, Московская область, г. Королев, ул. Стадионная 8-71<br>
                        Фактический адрес 141075, Московская область, г. Королев, ул. Свободная 1а-7</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}