{% extends 'users/main.html' %}
{% load static %}
{% block title %}Договор оферты{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center">Договор оферты</h1>
                </div>
                <p class="text-center">о предоставлении доступа к материалам сайтов www.propitanie.blog и
                    www.instagram.com/propitanie.blog</p>
                <div class="text">
                    <p>Настоящее Соглашение о предоставлении доступа к материалам сайта является юридически обязывающим
                        соглашением между ИП Леликова Ю.Э. и Пользователем.
                        В соответствии со ст. 437 Гражданского кодекса Российской Федерации Соглашение является
                        публичной офертой, то есть предложением заключить договор о предоставлении ИП Леликова Ю.Э.
                        услуг доступа к контенту, размещаемому на сайтах www.propitanie.blog и
                        www.instagram.com/propitanie.blog, в адрес неограниченного круга лиц на платной основе. В случае
                        принятия изложенных ниже условий физическое лицо (Пользователь), производящее акцепт этой
                        оферты, осуществляет оплату услуг ИП Леликова Ю.Э. (далее — Правообладатель) по платной доставке
                        информации посредством сайтов www.propitanie.blog и www.instagram.com/propitanie.blog (далее —
                        Сайт) в соответствии с условиями настоящей публичной оферты. Пользователь принимает настоящую
                        оферту и осуществляет оплату услуг Правообладателю на основании выставленного счета. Категории
                        платной информации определяются Правообладателем самостоятельно. В соответствии с пунктом 3
                        статьи 438 ГК РФ оплата услуг Пользователем является акцептом оферты, что считается равносильным
                        заключению Соглашения на условиях, изложенных в оферте (далее — Соглашение). Договор оферты
                        опубликован на Сайте по адресу: www.propitanie.blog
                    </p>
                    <h3 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">Определения</h3>
                    <h4>Сайт</h4>
                    <p>Сайты www.propitanie.blog и www.instagram.com/propitanie.blog</p>
                    <h4>Правообладатель</h4>
                    <p>Индивидуальный предприниматель Леликова Юлия Эдуардовна</p>
                    <h4>Соглашение</h4>
                    <p>Настоящее соглашение о предоставлении доступа к материалам Сайта</p>
                    <h4>Пользователь</h4>
                    <p>Физическое лицо, зарегистрированное на Сайте, достигшее возраста, допустимого в соответствии с
                        законодательством Российской Федерации для акцепта настоящего Соглашения, обладающее
                        соответствующими полномочиями и являющееся одной из сторон Соглашения</p>
                    <h4>Подписка</h4>
                    <p>Полный доступ ко всем материалам, размещенным на Сайте. Подписка предоставляется за определенную
                        плату на определенный срок в соответствии с условиями соответствующего тарифа Подписки, к
                        отношениям Сторон применяются нормы действующего законодательства Российской Федерации об
                        абонентском договоре (ст. 429.4 Гражданского кодекса Российской Федерации).</p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">1. Предмет соглашения</h2>
                    <p>1.1. На условиях Соглашения Правообладатель предоставляет Пользователям Подписку на платной
                        основе в целях просмотра Пользователями материалов, размещенных на Сайте.</p>
                    <p>1.2. Услуги, указанные в пункте 1.1 Соглашения, включают следующие виды Подписки:
                    <p>
                    <p>1.2.1. «Подписка на полгода», которая действует 180 дней с момента поступления Правообладателю
                        оплаты, произведенной Пользователем на условиях Соглашения;</p>
                    <p>1.2.2. «Подписка на месяц», которая действует 30 дней с момента поступления Правообладателю
                        оплаты, произведенной Пользователем на условиях Соглашения.
                        При этом стороны настоящего Соглашения подтверждают и соглашаются, что Услуги считаются
                        оказанными в полном объеме в момент их оплаты Пользователем.</p>
                    <p>1.4. Поступление Правообладателю оплаты, произведенной Пользователем на условиях Соглашения,
                        является принятием (акцептом) Соглашения (оферты), что означает полное и безоговорочное принятие
                        Пользователем условий Соглашения.</p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">2. Порядок и условия Подписки и
                        Мероприятий</h2>
                    <p>2.1. Для оформления Подписки Пользователю необходимо:</p>
                    <p>2.1.1. Зарегистрироваться на Сайте путем заполнения всех необходимых полей регистрационной формы,
                        принять условия Пользовательского соглашения, либо выполнить вход
                        при помощи уже имеющегося логина и пароля на Сайте, введя их в окне авторизации).</p>
                    <p>2.1.2. Внимательно ознакомиться с условиями Соглашения и принять его;</p>
                    <p>2.1.3. Выбрать тариф в соответствии с пунктом 3.1 Соглашения и способ оплаты согласно пункту 2.3
                        Соглашения; ввести необходимые для оплаты данные (платежная форма укажет необходимые поля для
                        заполнения), если того требует Платежная система; подтвердить оплату и оплатить. 2.1.3.1.
                        Юридическое лицо осуществляет перечисление денежных средств на расчетный счет Правообладателя на
                        основании выставленного счета. Факт оплаты услуг Правообладателя юридическим лицом подтверждает
                        полное согласие юридического лица с условиями Соглашения;</p>
                    <p>2.1.4. При успешно проведенной оплате перейти к просмотру материалов, размещенных на Сайте;</p>
                    <p>2.1.5. Отказ от услуг после оплаты невозможен;</p>
                    <p>2.2. В своем Личном кабинете по адресу www.propitanie.blog Пользователю доступны:
                    <ul>
                        <li>информация об оставшемся сроке действия Подписки;</li>
                        <li>материалы и видеозаписи Правообладателя с момента оформления подписки.</li>
                    </ul>
                    </p>
                    <p>2.3. Оплата услуг Правообладатель производится Пользователем банковской картой. Для юридических
                        лиц — перечислением денежных средств на расчетный счет Правообладателя</p>
                    <p>2.4. Пользователь также самостоятельно несет все дополнительные расходы для просмотра материалов,
                        размещенных на Сайте, включая комиссии мобильных операторов (при их наличии), а также расходы на
                        подключение интернета.</p>
                    <p>2.5. Материалы, доступ к которым предоставляется Пользователям на платной основе, определяются
                        Правообладателем самостоятельно.</p>
                    <p>2.6. Правообладатель вправе в любое время после опубликования Соглашения в одностороннем порядке
                        заменить способы оплаты Подписки. Указанные изменения публикуются на Сайте по адресу:
                        www.propitanie.blog
                        Все риски и неблагоприятные последствия, связанные с оплатой услуг Правообладателя посредством
                        иных платежных систем, за исключением указанных в Соглашении, несет Пользователь.</p>
                    <p>2.7. Пользователи обязуются использовать материалы, размещенные на Сайте, исключительно в личных
                        некоммерческих целях путем их просмотра посредством Сайта или программных приложений для
                        устройств, имеющих доступ в глобальную сеть Интернет, без их сохранения в память электронного
                        устройства, используемого Пользователем для просмотра материалов, размещенных на Сайте (без
                        сохранения и/или скачивания).</p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">3. Стоимость услуг
                        Правообладателя</h2>
                    <p>3.1. Услуги Правообладателя по предоставлению Подписки оплачиваются по тарифам, указанным на
                        сайте www.propitanie.blog</p>
                    <p>3.2. Все тарифы НДС не облагаются, в связи применением Правообладателя упрощенной системы
                        налогообложения (Глава 26.2. Налогового кодекса РФ).</p>
                    <p>3.3. Оплата производится по тарифам Правообладателя, действующим на момент оплаты.</p>
                    <p>3.4. Правообладатель имеет право в одностороннем порядке и без предварительного уведомления
                        Пользователя изменять размер тарифов и/или линейку тарифов (состав и содержание тарифов) путем
                        размещения соответствующего документа в новой редакции на Сайте.</p>
                    <p>Изменения, касающиеся размера тарифов и/или линейки тарифов (состава и содержания тарифов)
                        применяются только для Подписок, приобретаемых после изменения размера тарифов и/или линейки
                        тарифов (состава и содержания тарифов).</p>
                    <p>Стоимость ранее оплаченных Пользователем и не использованных Подписок не изменяется до момента
                        окончания оплаченного периода, если Пользователь не пожелает сменить действующий у него тариф на
                        новый.</p>
                    <p>По окончании оплаченного периода происходит отключение автоматической оплаты Подписки и услуга
                        доступа к Контенту прекращается до момента выбора и оплаты Пользователем действующего
                        тарифа.</p>
                    <p>3.5. Пользователь соглашается с тем, что Правообладатель не составляет и не направляет ему
                        счета-фактуры согласно пункт 3 статьи 169 Налогового Кодекса Российской Федерации.</p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">4. Ответственность</h2>
                    <p>4.1. Пользователь несет полную ответственность за достоверность информации и данных, указанных им
                        при оплате им услуг Правообладателя.</p>
                    <p>Пользователь не вправе указывать при регистрации любые персональные данные третьих лиц, включая
                        контактные данные (адрес, телефон, электронная почта).</p>
                    <p>В случае предъявления к Правообладателю претензий со стороны третьих лиц в связи с
                        использованием персональных данных, субъектами которых они являются, и предоставленных
                        Правообладателю Пользователем, Пользователь обязуется самостоятельно и за свой счет
                        урегулировать все такие претензии и судебные иски либо возместить Правообладателю понесенные в
                        связи с этим расходы.</p>
                    <p>В случае выявления Правообладателем факта сообщения Пользователем недостоверных информации или
                        персональных данных Правообладатель вправе удалить учетную запись, регистрацию Пользователя и
                        (или) приостановить, ограничить или прекратить доступ Пользователя к любому из сервисов Сайта в
                        любое время, с предварительным уведомлением или без такового, не отвечая за любой вред, который
                        может быть причинен Пользователю таким действием.</p>
                    <p>4.2. Правообладатель не несет ответственности за нарушение условий Соглашения, если такое
                        нарушение вызвано действием обстоятельств непреодолимой силы (форс-мажор), включая: действия
                        органов государственной власти, пожар, наводнение, землетрясение, другие стихийные действия,
                        сбои в энергетических или телекоммуникационных сетях (в том числе нарушение работы линий связи,
                        неисправность оборудования и т. п.), забастовки, гражданские волнения, беспорядки, любые иные
                        обстоятельства, не ограничиваясь перечисленным, которые могут повлиять на выполнение
                        Правообладателем условий Соглашения и неподконтрольные Правообладателю.</p>
                    <p>4.3. Правообладатель также не несет ответственности за неисполнение или ненадлежащее исполнение
                        обязательств по Соглашению, а также не компенсирует убытки, возникшие в том числе, но не
                        ограничиваясь, в результате:</p>
                    <p>4.3.1. Противоправных действий пользователей;</p>
                    <p>4.3.2. Неправомерных действий третьих лиц, направленных на нарушение информационной безопасности
                        или нормального функционирования Сайта, включая DDOS-атаки на Сайт;</p>
                    <p>4.3.3. Сбоев в работе Сайта, вызванных ошибками в коде, компьютерными вирусами и иными
                        посторонними фрагментами кода в программном обеспечении Сайта, в том числе связанных с
                        действиями третьих лиц;</p>
                    <p>4.3.4. Отсутствия (невозможности установления, прекращения и пр.) или недостаточной скорости
                        интернет-соединений между сервером Пользователя и сервером Сайта;</p>
                    <p>4.3.5. Проведения государственными и муниципальными органами, а также организациями мероприятий,
                        в том числе в рамках оперативно-розыскной деятельности;</p>
                    <p>4.3.6. Установления государственного регулирования (или регулирования иными организациями)
                        хозяйственной деятельности коммерческих организаций в глобальной сети Интернет и/или
                        установления указанными субъектами разовых ограничений, затрудняющих или делающих невозможным
                        исполнение Соглашения или его части;</p>
                    <p>4.3.7. Других случаев, связанных с действиями/бездействием третьих лиц, направленными на
                        ухудшение общей ситуации с использованием глобальной сети Интернет и/или компьютерного
                        оборудования, существовавшей на момент заключения Соглашения;</p>
                    <p>4.4. Все споры, вытекающие из правоотношений по Соглашению, разрешаются путем переговоров. Все
                        претензии по ненадлежащему оказанию Правообладателю услуг Пользователь вправе направить через
                        форму обратной связи.</p>
                    <p>4.5. В случае нарушения Пользователем настоящего Соглашения Правообладатель вправе
                        приостанавливать, ограничивать или прекращать оказание услуг, а также доступ такого Пользователя
                        ко всем или к любому из разделов Сайта в одностороннем порядке, а также блокировать возможность
                        использования Сайта (блокировать авторизацию и/или IP-адреса) для Пользователя в любое время, с
                        предварительным уведомлением или без такового, не отвечая за любой вред, который может быть
                        причинен Пользователю таким действием (в том числе расторгнуть Соглашение полностью, удалив
                        Учетную запись Пользователя с Сайта). При этом при блокировании Пользователя и/или удалении
                        учетной записи Пользователя — неиспользованный остаток денежных средств за оставшийся период
                        Подписки не возвращается Пользователю.</p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">Приложение №1 к Договору
                        оферты:</h2>
                    <h3>Тарифы на подписку</h3>
                    <p>Подписка на 180 дней</p>
                    <p>1800 рублей </p>
                    <p>Предоставлении доступа к материалам сайтов www.propitanie.blog и
                        www.instagram.com/propitanie.blog
                        доступ предоставляется к материалам, публикующимся с даты оформления подписки, и действует до ее
                        полного окончания
                    </p>
                    <p>Подписка на 30 дней</p>
                    <p>350 рублей </p>
                    <p>Предоставлении доступа к материалам сайтов www.propitanie.blog и
                        www.instagram.com/propitanie.blog
                        доступ предоставляется к материалам, публикующимся с даты оформления подписки, и действует до ее
                        полного окончания
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}