{% extends 'users/main.html' %}
{% load static %}
{% block title %}Договор оферты{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center">Договор оферты</h1>
                </div>
                <p class="text-center">Внимательно ознакомьтесь с настоящим соглашением перед использованием
                    рекуррентных платежей при оплате товаров или услуг в интернет-магазине. используя рекуррентные
                    платежи, вы соглашаетесь с условиями настоящего соглашения. Если вы не согласны с условиями
                    настоящего соглашения, не используйте рекуррентные платежи.
                </p>
                <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">Соглашение о предоставлении
                    пользователям возможности оплаты товаров/работ/услуг ИП Леликова Юлия Эдуардовна посредством
                    регулярных автоматических переводов денежных средств.
                </h2>
                <div class="text">
                    <p>Поставщик ИП Леликова Юлия Эдуардовная, действующая на основании свидетельства 315501800012144,
                        предлагает Пользователям воспользоваться Сервисом «Рекуррентные списания» и заключить настоящее
                        соглашение (далее — Соглашение), являющееся дополнением к Пользовательскому соглашению и
                        неотъемлемой частью Пользовательского соглашения, об определении порядка расчетов.
                        Пользователь безусловно соглашается с настоящим Соглашением пользования сервисом путем
                        совершения конклюдентных действий по подключению Сервиса «Рекуррентные списания» в момент
                        принятия Пользователем настоящего Соглашения пользования сервисом и выполнения действий по
                        активации Сервиса «Рекуррентные списания».
                    </p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">1. Термины и определения</h2>
                    <h4>Рекуррентный платеж</h4>
                    <p>вид банковского платежа, подразумевает автоматическое списание средств с банковской карты без
                        необходимости каких-либо действий со стороны владельца карты за получаемые услуги, товары или
                        информацию.</p>
                    <h4>Банковская карта</h4>
                    <p>расчетная или кредитная карта, эмитентом которой является Банк-­эмитент, являющаяся инструментом
                        безналичных расчетов, предназначенная для совершения Держателем карты операций с денежными
                        средствами, находящимися на банковских счетах Держателя карты в Банке-­эмитенте, или с денежными
                        средствами, предоставленными Банком-­эмитентом в кредит Держателю карты в соответствии с
                        законодательством Российской Федерации, а также договором банковского счета, или в пределах
                        установленного лимита, в соответствии с условиями кредитного договора между Банком-­эмитентом и
                        Держателем карты, при условии, что такая расчетная или кредитная карта может быть использована
                        Держателем карты для оплаты Услуг Поставщика.</p>
                    <h4>Банк–эквайер</h4>
                    <p>банк, обеспечивающий расчет денежных средств между банком-эмитентом владельца карты и
                        интернет-магазином - Акционерное общество Коммерческий Банк «Модульбанк» (АО КБ «Модульбанк»).
                        Юридический и почтовый адрес: 156005, Костромская область, г. Кострома, пл. Октябрьская, д. 1,
                        ОГРН 1022200525841, ИНН 2204000595, КПП 440101001; к/с 30101810800000000751 в Отделении по
                        Костромской области Главного управления Центрального банка Российской Федерации по
                        Центральному федеральному округу (Отделение Кострома), БИК 043469751</p>
                    <h4>Банк-эмитент</h4>
                    <p>банк, который выпустил карту плательщику и открыл счет для осуществления расчетов с банковской
                        картой в случае положительного ответа на запрос о покупке от банка-эквайера, банк-эмитент
                        гарантирует списание средств со счета карты и перечисление средств в платежную систему для
                        возмещения банку-эквайеру. Держатель карты - физическое лицо, дающее распоряжение
                        Банку-эмитенту на перевод денежных средств с Банковской карты от имени Пользователя в пользу
                        Поставщика с помощью Сервиса «Рекуррентные списания». </p>
                    <h4>Договор</h4>
                    <p>двустороннее соглашение, заключенное между Пользователем и Поставщиком по условиям которого,
                        Поставщик обязуется предоставить Пользователю Услугу, а последний обязуется оплатить их.</p>
                    <h4>Запрос</h4>
                    <p>информационное сообщение, направляемое Банком в Банк­-эмитент на перевод денежных средств с
                        Банковской карты в пользу Поставщика.</p>
                    <h4>Услуга/Товар</h4>
                    <p>предоставление Поставщиком услуги/товара из ассортимента сайта.</p>
                    <h4>Пользователь</h4>
                    <p>физическое лицо, заключившее Договор с Поставщиком</p>
                    <h4>Реквизиты Поставщика</h4>
                    <p>ИП Леликова Юлия Эдуардовна, ИНН 501806843731, 141075, Московская область, г. Королев, ул. Исаева
                        3-14</p>
                    <h4>Акцепт Пользователя</h4>
                    <p>безусловное соглашение Пользователя с условиями настоящего Соглашения</p>
                    <h4>Личный кабинет</h4>
                    <p>раздел Сайта Поставщика, защищенный системой контроля доступа, обеспечивающий Пользователю
                        интерфейс для взаимодействия с Поставщиком по Договору.</p>
                    <h4>Сайт Поставщика</h4>
                    <p>сайт, размещенный в сети Интернет по адресу https://propitanie.blog</p>
                    <p>Оплата Услуг Поставщика в соответствии с настоящим Соглашением возможна Банковскими картами
                        платежных систем VISA International, MasterCard International, МИР зарегистрированными в
                        соответствии с действующим законодательством Российской Федерации. При этом возможность
                        использования конкретных видов карт устанавливает Банк-­эмитент.</p>


                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">2. Общие положения</h2>
                    <p>2.1. Настоящее Соглашение – это соглашение между Пользователем и Поставщиком, регулирующее
                        условия использования Пользователем Сервиса «Рекуррентные списания». Пользователь, не принявший
                        настоящее Соглашение, не имеет права использовать Сервис «Рекуррентные списания».
                    </p>
                    <p>2.2. Настоящим Пользователь выражает свое согласие на использование электронных средств связи с
                        целью заключения договоров, осуществления платежей, размещения заказов и создания других
                        записей, а также на электронную доставку уведомлений, регламентирующих документов и данных об
                        операциях, инициированных или совершенных через сайт Поставщика.</p>
                    <p>2.3. Все расчеты по Банковской карте, предусмотренные настоящим Соглашением, производятся в
                        рублях Российской Федерации.</p>
                    <p>2.4. Непосредственное списание денежных средств осуществляет Банк-эмитент. Запрос на списание
                        денежных средств в Банк-эмитент передаёт АО КБ «Модульбанк» (далее также «Банк-эквайер») в
                        рамках заключённого с Поставщиком договора.</p>
                    <p>2.5. Поставщик не хранит и не обрабатывает данные Банковской карты Пользователя и исключительно
                        обеспечивает направление запросов в Банк-эквайер для очередного проведения операции по списанию
                        денежных средств с банковского счета (счета) Пользователя, открытого в Банке, к которому
                        прикреплена Банковская карта Пользователя.</p>
                    <p>2.6. Поставщик ни при каких условиях не гарантирует возможность проведения операций по списанию
                        денежных средств с банковского счета (счета) Пользователя по Банковской карте Клиента, оставляя
                        разрешение данных вопросов за Банком-эквайером и Банком- эмитентом.</p>
                    <p>2.7 Пользователь гарантирует, что он является держателем Банковской карты, реквизиты которой
                        заполняются, осознанно, корректно и полностью при активации (подключении) Сервиса «Рекуррентные
                        списания»</p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">Описание сервиса «Рекуррентные
                        списания» и способ его активации
                    </h2>
                    <p>3.1. Сервис «Рекуррентные списания» позволяет Пользователю оплачивать Услуги Поставщика по
                        Договору, путём регулярных автоматических переводов денежных средств в пользу Поставщика с
                        Банковских карт.</p>
                    <p>3.2. Активация (подключение) Сервиса «Рекуррентные списания» предполагает выполнение следующих
                        действий:
                        На Сайте Поставщика, Пользователь переходит на страницу https://propitanie.blog/user/renew/,
                        выбирает подходящий для него тариф, отмечает пункт «По окончанию подписки автоматически
                        продлевать ее. Я принимаю оферту регулярных платежей» и нажимает кнопку «Далее».</p>
                    <p>3.3. Сервис «Рекуррентные списания» подключается только для Банковской карты,
                        зарегистрированной Держателем карты</p>
                    <p>3.4. Регистрация Банковской карты: держатель карты перенаправляется на сайт Банка-эквайера по
                        обработке платежей и на соответствующей веб-странице ввода платежных данных вводит данные
                        своей Банковской карты.</p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">4. Действие сервиса
                        «Рекуррентные списания»
                    </h2>
                    <p>4.1. После подключения Сервиса «Рекуррентные списания», с Банковской карты будут осуществляться
                        переводы денежных средств в сроки и размерах, необходимых для надлежащего исполнения обязанности
                        Пользователя по Договору.</p>
                    <p>4.2. В один момент времени, у Пользователя может быть активирован (подключён) Сервис
                        «Рекуррентные списания» только по одной Банковской карте платёжной системы Visa (Visa Inc.),
                        MasterCard, Maestro (MasterCard International Inc.) или МИР.</p>
                    <p>4.3. Совершение действий, предусмотренных в п. 3.2. Соглашения признается аналогом
                        собственноручной подписи Пользователя.</p>
                    <p>4.4. Подключение Сервиса «Рекуррентные списания», в порядке, предусмотренном настоящим
                        Соглашением пользования сервисом, осуществляется только при наличии технической возможности
                        Поставщика, Процессингового центра, Банка, Банка­эмитента. Поставщик, Процессинговый центр,
                        Банк не несут ответственность за невозможность подключения Сервиса «Рекуррентные списания». 4.5.
                        Срок акцепта условий Соглашения неограничен и действует до расторжения данного Соглашения на
                        условиях, описанных в данном Соглашении.</p>
                    <p>4.6. Проведение первого платежа и успешная регистрация Банковской карты в Личном кабинете
                        означают принятие Пользователем условий настоящего Соглашения. Активируя Сервис «Рекуррентные
                        списания», Пользователь:
                    </p>
                    <p>4.6.1. Подтверждает свое согласие на периодическое списание денежных средств со счета Банковской
                        на сумму выставляемых Поставщиком счетов, начиная с момента активации Сервиса «Рекуррентные
                        списания» до момента деактивации (отключения) сервиса в соответствии с настоящим
                        Соглашением;</p>
                    <p>4.6.2. Предоставляет право Процессинговому Центру, Банку хранить, собирать, обрабатывать свои
                        персональные данные (Фамилию, Имя, Отчество, серию и номер паспорта, место и дату рождения,
                        номер расчетного счета и Банковской карты с целью реализации настоящего Соглашения; 4.6.3.
                        Пользователь дает согласие на оплату Услуг в соответствии с условиями Соглашения.</p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">Отключение сервиса «Рекуррентные
                        списания»
                    </h2>
                    <p>5.1. Отключение (отказ) Пользователя от Сервиса «Рекуррентные списания» происходит:
                        В «Личном кабинете» Пользователь выбирает раздел «Профиль». Нажимает кнопку «Автопродление» и
                        подтверждает операцию кнопкой «Да». При этом денежные средства, переведенные с Банковской карты
                        до отключения (отказа) Пользователя от Сервиса «Рекуррентные списания» за Услуги, Пользователю
                        не возвращаются.</p>
                    <p>5.2. В случае недостаточности денежных средств на счете Банковской карты для осуществления
                        перевода Поставщик имеет право повторять запрос на списание с Банковской карты денежных
                        средств. </p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">Права и обязанности сторон
                    </h2>
                    <p>6.1. Пользователь обязуется:</p>
                    <p>6.1.1. Соблюдать условия настоящего Соглашения;</p>
                    <p>6.1.2. Своевременно уведомлять Поставщика об изменении своих Персональных данных; </p>
                    <p>6.1.3. Обеспечить указание достоверных данных при использовании Сервиса «Рекуррентные
                        списания»;</p>
                    <p>6.1.4. В случае утраты (замены) Банковской карты незамедлительно (в срок не позднее 3 дней со
                        дня утраты) уведомить об этом Поставщика с целью прекращения оказания услуги пополнения счета с
                        использованием реквизитов утраченной Банковской карты, а также указания реквизитов новой
                        банковской карты;</p>
                    <p>6.1.5. При использовании Сервиса не передавать информацию о номере Банковской карты и иной
                        информации, позволяющей получить доступ к Личному кабинету любым третьим лицам. Все риски,
                        связанные с возможным умышленным использованием третьими лицами вышеуказанной информации
                        Пользователь несет самостоятельно;</p>
                    <p>6.1.6. Пользователь обязуется обеспечить наличие необходимой и достаточной на дату,
                        предшествующую моменту расчета суммы Платежа, для совершения Платежей суммы денежных средств на
                        счете Банковской карты, подключенной к Сервису «Рекуррентные списания», а также самостоятельно
                        отслеживать срок действия и своевременный перевыпуск и замену данной Банковской карты.</p>
                    <p>6.2. Права и обязанности Поставщика:</p>
                    <p>6.2.1. Поставщик обязуется предоставить Пользователю возможность использования Сервиса
                        «Рекуррентные списания» для совершения Пользователем платежей в пользу Поставщика;</p>
                    <p>6.2.2. Обеспечить круглосуточную работу Сервиса с технологическими перерывами;</p>
                    <p>6.2.3 Поставщик имеет право вносить изменения в настоящее Соглашение пользования сервиса, заранее
                        уведомив об этом Пользователя любым доступным способом, в том числе путем сообщения на
                        электронную почту, указанную в Договоре Пользователем, либо размещением информации на Сайте
                        Поставщика.</p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">
                        7. Ответственность сторон</h2>
                    <p>7.1. Поставщик, Процессинговый центр, Банк не несёт ответственности за неработоспособность
                        и/или временную неработоспособность сервиса «Рекуррентные списания». Пользователь самостоятельно
                        контролирует исполнение своей обязанности по оплате по Договору. При неработоспособности и/или
                        временной неработоспособности сервиса «Рекуррентные списания» Пользователь обязан использовать
                        иные способы исполнения обязанностей по Договору.</p>
                    <p>7.2. Ответственность Поставщика перед Пользователем по настоящему Соглашению ограничивается
                        суммой денежных средств, зачисленных с использованием сервиса «Рекуррентные списания» на счет
                        Поставщика для оплаты услуг по Договору.</p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">
                        8. Возврат средств</h2>
                    <p>8.1. Возврат денежных средств производится в случаях:</p>
                    <p>8.1.1. Если денежные средства, списаны после отмены Пользователем рекуррентных платежей;</p>
                    <p>8.1.2. Если услуги Поставщиком не оказаны/товары не поставлены.</p>
                    <p>8.2. Возврат денежных средств производится в течение 10 рабочих дней после получения от
                        Пользователя заявления о возврате денежных средств.</p>
                    <h2 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">
                        9. Ограничения при пользовании сервисом «Рекуррентные списания»</h2>
                    <p>9.1. С одной банковской карты может быть осуществлен перевод не более чем 15 000 руб. за одну
                        операцию.</p>
                    <p>9.2. С одной банковской карты может быть проведено не более 1 перевода в неделю.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}