{% extends 'main.html' %}
{% load last_day_tag %}
{% block title %}Возвраты{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-12 mb-4">
                <div class="card shadow" style="padding: 0px;">
                    <div class="card-header"><p class="text-primary m-0 font-weight-bold">Возвраты</p></div>
                    <div class="card-body">
                        <div class="table-responsive-sm table-borderless table mt-2" id="dataTable" role="grid"
                             aria-describedby="dataTable_info">
                            <table class="table table-striped table-bordered table-sm dataTable my-0" id="dataTable">
                                <thead>
                                <tr>
                                    <th scope="col">Имя пользователя</th>
                                    <th scope="col">Тип возврата</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td><a href="{{ user.username }}">{{ user.username }}</a></td>
                                        <td>{{ user.get_refund_choice_display }}</td>
                                        <td>{{ user.subscribe_until|ldt }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}