{% extends 'users/main.html' %}
{% load static %}
{% block title %}Договор оферты{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center">Пользовательское соглашение</h1>
                </div>
                <p class="text-center">об условиях и правилах пользования интернет площадок www.propitanie.blog и
                    www.instagram.com/propitanie.blog</p>
                <div class="text">
                    <h3 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">1. Общие условия использования
                        интернет-пользователями площадок www.propitanie.blog и www.instagram.com/propitanie.blog</h3>
                    <p>Настоящее Пользовательское соглашение (далее — Соглашение) устанавливает условия и правила
                        использования пользователями Сети интернет-площадок www.propitanie.blog и
                        www.instagram.com/propitanie.blog (далее — Сайт), в том числе:</p>
                    <ul>
                        <li>условия использования материалов, размещенных на Сайте;</li>
                        <li>условия размещения материалов (включая, но не ограничиваясь, текстовые материалы,
                            изображения, комментарии) пользователями Сети на Сайте;
                        </li>
                    </ul>
                    <p>Использование Сайта пользователем Сети означает, что пользователь Сети принимает и обязуется
                        соблюдать все нижеприведенные условия настоящего Соглашения.
                        Настоящее Соглашение полностью или в части может быть изменено ИП Леликова Юлия Эдуардовна в
                        любое время без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу
                        с момента ее опубликования на сайте www.propitanie.blog
                    </p>
                    <p>Для получения доступа к материалам Сайта пользователю необходимо приобрести подписку в
                        соответствии с условиями Договора оферты.</p>
                    <p>1.1. Пользователь не имеет права:</p>
                    <p>1.1.1. Претендовать на получение доступа к ранее размещенной информации на площадках
                        www.propitanie.blog и www.instagram.com/propitanie.blog. Доступ к материалам открывается с
                        момента оформления подписки и действует до ее полного окончания.</p>
                    <p>1.1.2. Использовать материалы, размещенные на Сайте, любым иным способом, в том числе продавать и
                        перепродавать, публично его демонстрировать, транслировать его по радио или телевидению путем
                        сообщения в эфир или по кабелю, перерабатывать, переводить, вносить в материалы любые изменения,
                        а также делать их доступными для любого лица в любое время по его выбору (в том числе
                        посредством сети Интернет), а также для каких-либо коммерческих целей, без предварительного
                        письменного разрешения Общества, за исключением разрешенного Соглашением;</p>
                    <p>1.1.3. Использовать материалы, размещенные на Сайте, способом, который может помешать нормальному
                        функционированию Сайта;</p>
                    <p>1.1.4. Регистрироваться на Сайте как другое лицо; вводить в заблуждение других Пользователей
                        относительно своей личности, используя регистрационные данные другого человека; умышленно
                        искажать представление о самом себе, своем возрасте или своих отношениях с другими лицами или с
                        другими организациями; передавать регистрационные данные другим лицам;</p>
                    <p>1.1.5. Пытаться любым способом, в том числе путем подбора пароля, взлома либо других действий
                        получать доступ к чужим логинам и паролям;</p>
                    <p>1.1.6. Использовать автоматизированные программы взаимодействия с Сайтом и его сервисами,
                        размещать любые файлы, которые содержат или могут содержать вирусы и другие вредоносные
                        программы;</p>
                    <p>1.1.7. Передавать свои регистрационные данные другим лицам;</p>
                    <p>1.1.8. Пользоваться своим логином и паролем для доступа в систему одновременно более чем на трех
                        электронных устройствах, используемых Пользователем для просмотра материалов, размещенных на
                        Сайте (например, компьютер, планшет и смартфон).</p>
                    <p>1.2. Пользователь несет полную ответственность за любое не разрешенное настоящим Соглашением
                        использование контента без письменного разрешения Общества в соответствии с законодательством
                        Российской Федерации.</p>
                    <p>1.3. Пользователь несет полную ответственность за достоверность информации и данных, указанных им
                        при регистрации на Сайте.</p>
                    <h3 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">2. Условия использования
                        материалов, размещенных на сайте</h3>
                    <p>2.1. Сайт содержит материалы, товарные знаки и иные охраняемые законом материалы, включая, но не
                        ограничиваясь, тексты, фотографии, видеоматериалы, графические изображения, музыкальные и
                        звуковые произведения.
                        При этом все содержание Сайта охраняется законом как произведение, созданное коллективным
                        творческим трудом в соответствии с положениями IV части Гражданского кодекса Российской
                        Федерации.
                    </p>
                    <p>ИП Леликова Ю.Э. принадлежат исключительные права на использование содержания Сайта (в том числе
                        право на подбор, расположение, систематизацию и преобразование данных, содержащихся на сайте
                        www.propitanie.blog и www.instagram.com/propitanie.blog, а также на сами исходные данные), кроме
                        случаев, отдельно отмеченных в содержании опубликованных на Сайте материалов.</p>
                    <p>Использование любой информации с Сайта в любых целях, кроме личных, без согласия ИП Леликова Ю.Э.
                        не допускается.</p>
                    <p>Указанные в настоящем разделе Соглашения положения предусматривают защиту интересов ИП Леликова
                        Ю.Э. и третьих лиц, являющихся обладателями прав в отношении содержания (контента) Сайта. При
                        этом все обладатели прав вправе воспользоваться своими правами, указанными в настоящем
                        Соглашении, самостоятельно.</p>
                    <p>2.2. Пользователь Сети не имеет права вносить изменения, публиковать, передавать третьим лицам,
                        участвовать в продаже или уступке, создавать производные продукты или иным образом использовать,
                        частично или полностью, содержание Сайта.</p>
                    <p>Пользователь Сети может загружать (скачивать) с Сайта материалы, права на которые принадлежат ИП
                        Леликова Ю.Э. только для личного использования.</p>
                    <p>Если иное не предусмотрено законодательством Российской Федерации, не допускается копирование,
                        распространение, передача третьим лицам, опубликование или иное использование в коммерческих
                        целях материалов, загруженных с Сайта, без получения письменного разрешения ИП Леликова Ю.Э. или
                        другого законного владельца авторских прав.</p>
                    <p>В случае получения разрешения на копирование, распространение, опубликование или иное
                        использование материалов Сайта, охраняемых авторским правом, такое копирование, распространение,
                        опубликование или иное использование не допускается без ссылки на правообладателя.</p>
                    <h3 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">3. Условия размещения материалов
                        пользователями Сети на сайте www.propitanie.blog и www.instagram.com/propitanie.blog</h3>
                    <p>3.1. Пользователь Сети обязуется использовать Сайт только в законных целях. Пользователь Сети
                        обязуется не размещать на Сайте и не направлять куда-либо через/посредством Сайта любые
                        материалы следующего характера:</p>
                    <ul>
                        <li>нарушающие законодательство, содержащие угрозы и оскорбления, дискредитирующие других лиц,
                            нарушающие права граждан на частную жизнь или публичный порядок, носящие характер
                            непристойности;
                        </li>
                        <li>нарушающие в той или иной степени честь и достоинство, права и охраняемые законом интересы
                            других лиц;
                        </li>
                        <li>способствующие или содержащие призывы к разжиганию религиозной, расовой или межнациональной
                            розни, содержащие попытки разжигания вражды или призывы к насилию;
                        </li>
                        <li>содержащие нецензурную брань;</li>
                        <li>а также иные материалы, которые побуждают других лиц на противоправное поведение, влекущее
                            уголовную, гражданско-правовую и иную ответственность, или каким-либо образом нарушающее
                            положения законодательства Российской Федерации.
                        </li>
                    </ul>
                    <p>Любые действия пользователя Сети, которые, по мнению ИП Леликова Ю.Э. ограничивают или
                        препятствуют осуществлению прав другого пользователя Сети, использующего Сайт, не допускаются и
                        пресекаются способами и средствами по выбору ИП Леликова Ю.Э.</p>
                    <p>ИП Леликова Ю.Э. не несет ответственности за личное мнение, выраженное пользователями Сети на
                        Сайте.</p>
                    <p>3.2. Пользователь Сети обязуется не размещать на Сайте и не направлять через/посредством Сайта
                        материалы, являющиеся рекламой каких-либо товаров или услуг, без получения предварительного
                        письменного согласия ИП Леликова Ю.Э. Пользователь Сети обязуется не использовать Сайт для
                        рекламы или иного стимулирования сбыта любых товаров и услуг.</p>
                    <p>3.3. Пользователь Сети обязуется не загружать, не размещать или иным образом использовать на
                        Сайте какие-либо материалы, охраняемые законодательством об интеллектуальной собственности (в
                        том числе авторским правом, законодательством о товарных знаках), и иные охраняемые
                        законодательством материалы без получения письменного разрешения обладателя прав на охраняемый
                        материал. При этом бремя доказывания того, что размещение на Сайте пользователем Сети материалов
                        не нарушает авторские, смежные и иные права третьих лиц на размещаемые материалы, лежит на
                        пользователе Сети.</p>
                    <p>3.4. ИП Леликова Ю.Э. оставляет за собой безусловное право удалить любые материалы, размещенные
                        Пользователями на Сайте. При этом данное условие не означает и не может толковаться как
                        возлагающее на Общество обязанность по регулярному модерированию (контролю содержания)
                        материалов, размещаемых Пользователями на Сайте.</p>
                    <h3 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">4. Заключительные положения</h3>
                    <p>Информация о персональных данных Пользователей обрабатывается с соблюдением требований
                        действующего российского законодательства о персональных данных, в соответствии с Политикой в
                        отношении обработки персональных данных пользователей услуг, предоставляемых ИП Леликова
                        Ю.Э.</p>
                    <p>ИП Леликова Ю.Э. при обработке персональных данных принимает необходимые правовые,
                        организационные и технические меры для защиты персональных данных от неправомерного или
                        случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления,
                        распространения персональных данных, а также от иных неправомерных действий в отношении
                        персональных данных.</p>
                    <p>Персональные данные Пользователя будут использованы только в целях хранения, накопления,
                        систематизации, уточнения и обработки в рамках исполнения настоящего Соглашения, и не могут
                        передаваться третьим лицам с другими целями.</p>
                    <p>Зарегистрировавшись на Сайте, приняв условия настоящего Соглашения, пользователь подтверждает
                        свое согласие на обработку предоставленных им своих персональных данных, а именно: сбор, запись,
                        систематизацию, накопление, хранение, обезличивание, блокирование, удаление, уничтожение
                        персональных данных ИП Леликова Ю.Э. Такое согласие предоставляется на весь срок действия
                        Соглашения, а также на 5 лет после окончания действия Соглашения. Обработка персональных данных
                        пользователей осуществляется в целях исполнения Соглашения.</p>
                    <p>4.2. Соглашаясь с условиями настоящего Соглашения, пользователь дает свое согласие на получение
                        уведомлений, содержащих информацию об условиях платной подписки, специальных предложениях ИП
                        Леликова Ю.Э. Уведомления направляются пользователю посредством социальных сетей, электронных
                        писем, смс-сообщений или телефонной связи.</p>
                    <p>Пользователь может отказаться от получения электронных сообщений в любой момент, используя ссылку
                        «Отписаться», предоставленную в каждой рассылке.
                        Пользователь также принимает политику использования файлов cookies, используемую на Сайте.
                    </p>
                    <h3 style="margin-bottom: 10px;margin-top: 0px;padding-top: 20px;">Договор оферты</h3>
                    <p>В соответствии со статьей 437 ГК РФ данное Соглашение является публичной офертой в адрес
                        неограниченного круга лиц. В случае принятия изложенных ниже условий физическое лицо
                        (Пользователь), производящее акцепт этой оферты, осуществляет оплату услуг ИП Леликова Ю.Э. по
                        платной доставке информации посредством интернет площадок www.propitanie.blog и
                        www.instagram.com/propitanie.blog в соответствии с условиями настоящей публичной оферты.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}