{% extends 'users/main.html' %}
{% block title %}{{ form.name.value }}{% endblock %}
{% block content %}
    {% load static %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 offset-xl-0 d-none d-lg-flex" style="margin-left: 0px;">
                                <div class="flex-grow-1 bg-login-image"
                                     style="background-image: url(&quot;{% static 'media/images/user/shutterstock_723558037.jpg' %}&quot;);padding-top: 0px;background-position: right;background-size: contain;background-repeat: no-repeat;"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Смена пароля</h4>
                                    </div>
                                    <form class="user" method="post">
                                        {% csrf_token %}
                                        <div class="form-group"><input class="form-control form-control-user"
                                                                       type="password"
                                                                       placeholder="Старый пароль" name="old_password"
                                                                       autofocus required>
                                        </div>
                                        {% if form.old_password.errors %}
                                            <dl>
                                                {% for error in form.old_password.errors %}
                                                    <dd><small class="form-text text-danger mb-1">{{ error }}</small>
                                                    </dd>
                                                {% endfor %}
                                            </dl>
                                        {% endif %}
                                        <div class="form-group"><input class="form-control form-control-user"
                                                                       type="password"
                                                                       placeholder="Новый пароль" name="new_password1"
                                                                       minlength="8" required>
                                        </div>
                                        {% if form.new_password1.errors %}
                                            <dl>
                                                {% for error in form.new_password1.errors %}
                                                    <dd><small class="form-text text-danger mb-1">{{ error }}</small>
                                                    </dd>
                                                {% endfor %}
                                            </dl>
                                        {% endif %}
                                        <div>
                                            <dl>
                                                <dd><small class="form-text text-muted mb-1">Ваш пароль не может
                                                    совпадать с именем пользователя</small></dd>
                                                <dd><small class="form-text text-muted mb-1">Ваш пароль должен состоять
                                                    минимум из 8 символов</small></dd>
                                                <dd><small class="form-text text-muted mb-1">Ваш пароль не может
                                                    состоять только из цифр</small></dd>
                                            </dl>
                                        </div>
                                        <div class="form-group"><input class="form-control form-control-user"
                                                                       type="password"
                                                                       placeholder="Новый пароль еще раз"
                                                                       name="new_password2" required>
                                        </div>
                                        {% if form.new_password2.errors %}
                                            <dl>
                                                {% for error in form.new_password2.errors %}
                                                    <dd><small class="form-text text-danger mb-1">{{ error }}</small>
                                                    </dd>
                                                {% endfor %}
                                            </dl>
                                        {% endif %}
                                        {% if form.non_field_errors %}
                                            {% for error in form.non_field_errors %}
                                                <div class="text-danger mb-3">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        <button class="btn btn-primary btn-block text-white btn-user" type="submit">
                                            Сохранить
                                        </button>
                                        {% if success %}
                                            <div class="alert alert-primary mt-2" role="alert">
                                                Вы успешно поменяли пароль!
                                            </div>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}