{% extends 'main.html' %}
{% block title %}{{ form.name.value }}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-6">
                <div class="card shadow-lg o-hidden border-0">
                    <div class="card-header"><p class="text-primary m-0 font-weight-bold">Редактирование
                        пользователя</p></div>
                    <div class="card-body">
                        <div class="form-group">
                            <form method="post">
                                {{ form.non_field_errors }}
                                {% for field in form %}
                                    {% if field.errors %}
                                        <div class="alert alert-info" role="alert">
                                            {{ field.name }}
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <label for="id_username" class="mt-2 mb-0">Имя пользователя</label>
                                <input type="text" name="username" class="form-control mb-2"
                                       value="{{ form.username.value }}" required id="id_username">
                                <label for="id_subscribe_until" class="mb-0">Подписка до</label>
                                <input type="text" name="subscribe_until" class="form-control mb-2"
                                       value="{{ form.subscribe_until.value|date:'d.m.Y' }}" id="id_subscribe_until">
                                {{ form.subscribe_until.errors }}
                                <label for="id_email" class="mb-0">Email</label>
                                <input type="text" name="email" class="form-control mb-1" value="{{ form.email.value }}"
                                       required id="id_email">
                                {{ form.email.errors }}
                                <label>Подписан с {{ form.date_joined.value }}</label>
                                <input type="hidden" name="date_joined"
                                       value="{{ form.date_joined.value|date:'d.m.Y H:i:s' }}">
                                {{ form.date_joined.errors }}
                                <p>Пароль <span class="font-weight-bold">{{ form.init_password.value }}</span></p>
                                <input type="hidden" name="init_password" value="{{ form.init_password.value }}">
                                {{ form.init_password.errors }}
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-success" type="submit">Сохранить</button>
                                    <button class="btn btn-danger" type="button"
                                            onclick="location.href='{% url 'UsersList' %}'">Отмена
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-4 mb-1 mt-2">
                <div class="card shadow-lg o-hidden border-0 ">
                    <div class="card-header"><p class="text-primary m-0 font-weight-bold">Доступные видео</p></div>
                    <div class="card-body pt-1">
                        <div class="table-responsive-sm table-borderless table mt-0" id="dataTable" role="grid"
                             aria-describedby="dataTable_info">
                            <table class="table  table-sm dataTable my-0" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Название</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for video in videos %}
                                    <tr>
                                        <td>
                                            {% if video in user.available_video.all %}
                                                <a class="text-success"
                                                   href="{% url 'UpdateAvailableVideo' pk=user.id %}?action=remove&id={{ video.id }}">{{ video }}</a>
                                            {% else %}
                                                <a class="text-danger"
                                                   href="{% url 'UpdateAvailableVideo' pk=user.id %}?action=add&id={{ video.id }}">{{ video }}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 mb-4 mt-2">
                <div class="card shadow-lg o-hidden border-0 ">
                    <div class="card-header"><p class="text-primary m-0 font-weight-bold">Доступные документы</p></div>
                    <div class="card-body pt-1">
                        <div class="table-responsive-sm table-borderless table mt-0" id="dataTable" role="grid"
                             aria-describedby="dataTable_info">
                            <table class="table  table-sm dataTable my-0" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Название</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for file in files %}
                                    <tr>
                                        <td>
                                            {% if file in user.available_file.all %}
                                                <a class="text-success"
                                                   href="{% url 'UpdateAvailableFile' pk=user.id %}?action=remove&id={{ file.id }}">{{ file }}</a>
                                            {% else %}
                                                <a class="text-danger"
                                                   href="{% url 'UpdateAvailableFile' pk=user.id %}?action=add&id={{ file.id }}">{{ file }}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}