<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'media/favicons/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script>
        function deleteFunction() {
            if (confirm("Отключить автопродление подписки?")) {
                window.location = "{% url 'RecurrentPaymentsCancel' %}";
            }
        }
    </script>
</head>
<body>
<div class="projects-clean">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="/">PROpitanie.blog</a>
            {% if user.is_authenticated %}
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a
                                class="nav-link {% if request.resolver_match.url_name == "UserAccount" %}active{% endif %}"
                                href="{% url 'UserAccount' %}">Видео</a></li>
                        {% if categories %}
                            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown"
                                                             aria-expanded="false" href="#">Библиотека</a>
                                <div class="dropdown-menu" role="menu">
                                    {% for item in categories %}
                                        <a class="dropdown-item" role="presentation"
                                           href="{% url 'UserFiles' category=item.slug %}">{{ item.name }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}
                        <li class="nav-item" role="presentation"><a
                                class="nav-link {% if request.resolver_match.url_name == "RenewSubscription" %}active{% endif %}"
                                href="{% url 'RenewSubscription' %}">Продлить подписку</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        {% if user.subscribe_until %}
                            <li class="navbar-text" role="presentation">Ваша подписка активна до&nbsp;</li>
                            <li class="navbar-text font-weight-bold"
                                role="presentation">{{ user.subscribe_until|date:'j E' }}</li>
                        {% endif %}
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown"
                                                         aria-expanded="false" href="#">Профиль</a>
                            <div class="dropdown-menu" role="menu"><h6 class="dropdown-header"
                                                                       role="presentation">{{ user.username }}</h6>
                                {% if user.is_staff %}
                                    <a class="dropdown-item" role="presentation"
                                       href="{% url 'Dashboard' %}">Админка</a>
                                {% endif %}
                                <a class="dropdown-item" role="presentation" {% if user.recurrrecurring_payments %}onclick="deleteFunction()" href="#"{% endif %}>Автопродление
                                    <input type="checkbox" {% if user.recurrrecurring_payments %}checked{% endif %} disabled></a>
                                <a class="dropdown-item" role="presentation" href="{% url 'ChangeUserPassword' %}">Изменить
                                    пароль</a>
                                <a class="dropdown-item" role="presentation" href="{% url 'LogoutUser' %}">Выйти</a>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</div>
<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Юридическая информация</h3>
                    <ul>
                        <li><a href="{% url 'PaymentsRules' %}">Оплата</a></li>
                        <li><a href="{% url 'Confidentiality' %}">Конфиденциальность</a></li>
                        <li><a href="{% url 'Offer' %}">Оферта</a></li>
                        <li><a href="{% url 'TermsOfUse' %}">Пользовательское соглашение</a></li>
                        <li><a href="/admin/article/recurrent">Оферта регулярных платежей</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                </div>
                <div class="col-sm-4 col-md-3 item">
                </div>
                <div class="col-lg-3 item social">
                    <a href="#"><i class="icon ion-social-facebook"></i></a>
                    <a href="#"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">PROpitanie.blog© 2020</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="{% static 'assets/js/script.min.js' %}"></script>
</body>

</html>