{% extends 'users/main.html' %}
{% block title %}{{ form.name.value }}{% endblock %}
{% block content %}
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-2">
                                Письмо с инструкцией по восстановлению пароля отправлено Вам на e-mail
                            </h4>
                            <p class="mb-2">Для смены пароля необходимо пройти по ссылке, указанной в письме</p>
                            <p>Если вы не получили письмо с инструкцией по восстановлению пароля, проверьте
                                папку "Спам" вашего почтового ящика</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}