{% extends 'users/main.html' %}
{% load static %}
{% block title %}Продлить подписку{% endblock %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function getPhoto(username) {

            const regex = new RegExp(/^(?!.*\.\.)(?!.*\.$)[^\W][\w.]{0,29}$/);
            const validation = regex.test(username);
            $("#btnGroup, #photoReturn, #message, #itsYourProfile").attr({hidden: true})
            if (validation) {

                $.get("https://www.instagram.com/" + username + "/?__a=1")
                    .done(function (data) {
                        console.log(data)
                        let photoURL
                        try {
                            photoURL = data["graphql"]["user"]["profile_pic_url_hd"];
                        } catch (e) {
                            photoURL = "{% static 'media/images/user/no_image.png' %}";
                        }
                        $("#photoReturn").attr({src: photoURL, width: 150, height: 150, hidden: false})
                        $("#btnGroup, #itsYourProfile").attr({hidden: false})
                        $("#nextBtn, #usernameInput").attr({hidden: true})
                        $("#username").text(username)
                    })
                    .fail(function () {
                        $("#message").text('Такого пользователя в Instagram не существует. Пожалуйста, проверьте имя пользователя').attr({hidden: false})
                    })

            } else {
                $("#message").text('Некорректные символы в имени пользователя. Возможно вы использовали русский алфавит').attr({hidden: false})
            }

        }

        function clearContent() {
            $("#btnGroup, #photoReturn, #itsYourProfile").attr({hidden: true})
            $("#username").text("")
            $("#usernameInput, #nextBtn").attr({hidden: false})
            $("#message").attr({hidden: false}).text('Пожалуйста, внимательно проверьте имя пользователя')
        }
    </script>
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-2">
                                {% if user.is_authenticated %}
                                    Продлить доступ
                                {% else %}
                                    Оплатить доступ
                                {% endif %}
                            </h4>
                        </div>
                        <form id="renew" class="user" method="post" action="{% url 'GeneratePayment' %}">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user"
                                       placeholder="Введите ваш Instagram" name="username" id="usernameInput"
                                       value="{{ user.username }}" required/>
                                <input type="email"
                                       class="form-control form-control-user mt-2"
                                       placeholder="Введите Email"
                                       name="email"
                                       value="{{ user.email }}" required/>
                            </div>
                            <select class="custom-select mt-0 mb-2" name="amount">
                                {% for price in prices %}
                                    <option value="{{ price.price }}.00">{{ price.number_of_months }}
                                        {% if price.number_of_months == 1 %}
                                            месяц,
                                        {% elif price.number_of_months < 5 %}
                                            месяца,
                                        {% else %}
                                            месяцев,
                                        {% endif %}
                                        {{ price.price }}₽
                                    </option>
                                {% endfor %}
                            </select>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="offer" required/>
                                <label class="form-check-label" for="offer">Я принимаю условия <a
                                        href="/admin/article/offer/">оферты</a></label>
                            </div>
                            {% if not user.recurrrecurring_payments %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="recurrent" name="recurrent"/>
                                    <label class="form-check-label" for="recurrent">Автоматически продлить подписку
                                        после ее окончания. Я принимаю <a href="/admin/article/recurrent">оферту
                                            регулярных
                                            платежей</a></label>
                                </div>
                            {% endif %}
                            <div class="alert alert-danger mt-2 mb-0" id="message" hidden></div>
                            <button
                                    class="btn btn-primary btn-block text-white btn-user mt-2 col-12"
                                    type="button"
                                    id="nextBtn"
                                    onclick="getPhoto($('#usernameInput').val().split(' ').join('').replace('@',''))">
                                Далее
                            </button>
                            <div class="mt-4 d-flex flex-column align-items-center">
                                <h3 id="itsYourProfile" hidden>Это ваш профиль в Instagram?</h3>
                                <img id="photoReturn" class="rounded" src="" hidden>
                                <h5 class="mt-2 mb-0" id="username"></h5>
                            </div>
                            <div role="group" class="btn-group col-12 p-0" id="btnGroup" hidden>
                                <button
                                        class="btn btn-primary btn-block text-white btn-user mt-4 col-6" type="submit">
                                    Да, оплатить
                                </button>
                                <button
                                        class="btn btn-danger btn-block text-white btn-user mt-4 col-6" type="button"
                                        onclick="clearContent()">Нет, это не я
                                </button>
                            </div>
                        </form>
                        <div class="text-center"></div>
                        <div class="text-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}