<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'media/favicons/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="bg-gradient-primary">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 offset-xl-0 d-none d-lg-flex" style="margin-left: 0px;">
                            <div class="flex-grow-1 bg-login-image"
                                 style="background-image: url(&quot;{% static 'media/images/user/shutterstock_723558037.jpg' %}&quot;);padding-top: 0px;background-position: right;background-size: contain;background-repeat: no-repeat;"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Добро пожаловать!</h4>
                                </div>
                                <form class="user" action="{% url 'LoginUser' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group"><input class="form-control form-control-user" type="text"
                                                                   id="exampleInputEmail"
                                                                   placeholder="Instagram" name="username" required
                                                                   autofocus onkeyup="let start = this.selectionStart;
                                                                                      let end = this.selectionEnd;
                                                                                      this.value = this.value.toLowerCase();
                                                                                      this.setSelectionRange(start, end);"></div>
                                    <div class="form-group"><input class="form-control form-control-user"
                                                                   type="password" id="exampleInputPassword"
                                                                   placeholder="Пароль" name="password" required></div>
                                    {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                            <div class="text-danger mb-3">{{ error }}</div>
                                        {% endfor %}
                                    {% endif %}
                                    <button class="btn btn-primary btn-block text-white btn-user" type="submit">Войти
                                    </button>
{#                                    <a class="btn btn-success btn-block text-white btn-user"#}
{#                                       href="{% url 'RenewSubscription' %}">Оплатить доступ</a>#}
                                    <hr>
                                </form>
                                <div class="text-center"><a class="small" href="{% url 'PasswordReset' %}">Забыли
                                    пароль?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="{% static 'assets/js/script.min.js' %}"></script>
</body>

</html>