{% extends 'main.html' %}
{% block title %}Список пользователей{% endblock %}
{% block content %}
<script>
    function deleteFunction(form) {
        if (confirm("Are you sure you want to delete?")) {
            form.submit();
        } else {
            form.preventDefault();
        }
    }
</script>
<div class="d-flex flex-column align-items-center">
    <div><h4 class="mb-3 ">Активные пользователи</h4></div>
    <div>
        <table data-toggle="table" data-search="true" data-sorter="datesSorter">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Email</th>
                <th data-sortable="true">Подписана до</th>
                <th ></th>
            </tr>
            </thead>
            <tbody>
            {%for user in users_list%}
            <tr>
                <td><a href="{% url 'UserEdit' pk=user.pk %}">{{ user.username }}</a></td>
                <td>{{ user.email }}</td>
                <td><span class="date" data-date="{{ user.subscribe_until|date:'Y-m-d' }}">{{ user.subscribe_until }}</td>
                <td>
                    <form method="POST" action="{% url 'UserDelete' pk=user.id %}">
                        <button type="button" class="btn btn-sm btn-danger" onClick="deleteFunction(this.form)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {%endfor%}
            {%for user in authors%}
            <tr>
                <td><a href="{% url 'UserEdit' pk=user.pk %}">{{ user.username }}</a></td>
                <td>{{ user.email }}</td>
                <td></td>
                <td>
                    <form method="POST" action="{% url 'UserDelete' pk=user.id %}">
                        <button type="button" class="btn btn-sm btn-danger" onClick="deleteFunction(this.form)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script>
    function datesSorter(a, b) {
  if (new Date(a) < new Date(b)) return 1;
  if (new Date(a) > new Date(b)) return -1;
  return 0;
}
</script>
{% endblock %}
